<!--


555555555555555555      000000000          000000000
5::::::::::::::::5    00:::::::::00      00:::::::::00
5::::::::::::::::5  00:::::::::::::00  00:::::::::::::00
5:::::555555555555 0:::::::000:::::::00:::::::000:::::::0
5:::::5            0::::::0   0::::::00::::::0   0::::::0
5:::::5            0:::::0     0:::::00:::::0     0:::::0
5:::::5555555555   0:::::0     0:::::00:::::0     0:::::0
5:::::::::::::::5  0:::::0 000 0:::::00:::::0 000 0:::::0
555555555555:::::5 0:::::0 000 0:::::00:::::0 000 0:::::0
            5:::::50:::::0     0:::::00:::::0     0:::::0
            5:::::50:::::0     0:::::00:::::0     0:::::0
5555555     5:::::50::::::0   0::::::00::::::0   0::::::0
5::::::55555::::::50:::::::000:::::::00:::::::000:::::::0
 55:::::::::::::55  00:::::::::::::00  00:::::::::::::00
   55:::::::::55      00:::::::::00      00:::::::::00
     555555555          000000000          000000000



  This is the default "500: Server Error" page.
  User agents that don't "Accept" HTML will see a JSON version instead.
  You can customize the control logic for your needs in `config/500.js`

  Sails considers a request in a "500: Server Error" state when
  your app throws a catchable error (not inside of an asynchronous callback).

  You can also trigger this response from one of your controllers or policies with:
  `return res.serverError( e );`
  (where `e` is an optional message, error, or array of errors to include in the response)

-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,600' rel='stylesheet' type='text/css'>

<div id="content"><div id="container"><div class="page-main-container">

<!-- RIBBON -->
<div class="container one">

  <div class="bk l">
    <div class="arrow top"></div> 
    <div class="arrow bottom"></div>
  </div>

  <div class="skew l"></div>

  <div class="main">
    <div><h1> » EN COURS DE DEVELOPPEMENT !<span class='title-end'></span></h1></div>   
  </div>

  <div class="skew r"></div>
  
  <div class="bk r">
    <div class="arrow top"></div> 
    <div class="arrow bottom"></div>
  </div>

</div>

<!-- RIBBON -->
    <div class="bloccentralcorps">
        <h3>Erreur de Serveur Interne</h3>

        <div class="textecorps">

        <h4>
          Quelque chose ne va pas...
        </h4>
        <% if (typeof data !== 'undefined') { %>
        <p><code>
          <%- data %>
        </code></p>
        <% } else { %>
       <p>
          Nous travaillons actuellement sur le problème. <br/>
          Si cela persiste, indiquez nous votre problème en contactant <a href="mailto:nextwaveuniverse@gmail.com">l'équipe du site</a> en expliquant quelle est la page sur laquelle vous avez tenté de vous rendre.
        </p>
      <% } %>

      </div>

      <br/>
    </div>
<!-- SI PAYANT RAJOUTER : CONDITIONS GENERALES DE SERVICES ET REVOIR CETTE PARTIE-->
</div></div></div>