<div id="content"><div id="container"><div class="page-main-container">

<!-- RIBBON -->
<div class="container one">

  <div class="bk l">
    <div class="arrow top"></div> 
    <div class="arrow bottom"></div>
  </div>

  <div class="skew l"></div>

  <div class="main">
    <div><h1> » F.A.Q.<span class='title-end'></span></h1></div>   
  </div>

  <div class="skew r"></div>
  
  <div class="bk r">
    <div class="arrow top"></div> 
    <div class="arrow bottom"></div>
  </div>

</div>

<!-- RIBBON -->


      
      <div class="bloccentralcorps">
        <h3>C'EST QUOI NEXT WAVE UNIVERSE ?</h3>

        <div class="textecorps">
    
            <p align='justify' >
              <strong>Next Wave Universe</strong> est un jeu virtuel d’aventure et d'intéractions entre les joueurs. On y incarne le personnage de son choix, de sa
              création, afin de le faire participer à une quête inoubliable. Le but est de le faire évoluer à travers des épisodes pendant lesquels il devra mener les missions qui lui sont confiées, d'obtenir de l'expérience, des pièces et des étoiles. Grâce aux équipements et à la monnaie récupérée, le ou les
              personnages crées pourront aussi être joués sur le forum <strong><a href="nextwave-rpg.com">Next Wave RPG</a></strong> en gardant différents éléments. Il suffira de l'indiquer lors de l'inscription sur le forum.
            </p>
      </div>

      <h3>CONCRETEMENT...ON S'INSCRIT COMMENT ?</h3>

        <div class="textecorps">
    
            <p align='justify' >
              Tout d'abord, commencez par <strong><a href="/register">créer un compte</a></strong>. Vous préciserez votre <strong>pseudo</strong>, <strong>âge</strong>, <strong>mail</strong> ainsi que les caractéristiques de votre premier personnage et votre guilde. Elle vous opposera (ou pas) aux deux autres existantes. <br/></br/>

             Vous aurez <strong>20</strong> points à répartir sur les caractéristiques de votre personnage, et vous pouvez en créer un maximum de <strong>3 par compte</strong>. Ensuite ? Place à l'aventure ! Sachez qu'un système de <strong>chat</strong> vous permettra d'obtenir plus de renseignements, une fois inscrit. 
            </p>
      </div>

      <h3>...ET ENSUITE, ON FAIT QUOI ?</h3>

        <div class="textecorps">
    
            <p align='justify' >
              Après l'étape d'inscription, le jeu commence réellement ! Vous recevrez chaque jour <strong>20 PIECES</strong> pour une connexion sur le site, et <strong>2</strong> PAR HEURE (sans être forcément connecté !). Grâce à ces pièces, vous pourrez obtenir <strong>armes</strong>, <strong>véhicules</strong>, <strong>montures</strong>, <strong>pouvoirs</strong> et autres ! En bref, elles vous permettront de devenir plus <strong>puissant</strong> pour affronter vos adversaires.  <br/><br/>

              Les <strong>ETOILES</strong>, elles, sont obtenues à travers <strong>l'aventure principale</strong>, scénarisée, mettant en scène votre personnage face aux ténèbres grandissant qui menacent de détruire Next Wave Universe. A chaque fin de chapitre, vous recevrez des étoiles, l'aventure étant <strong>différente</strong> en fonction des choix que vous ferez. Elles seront nécessaires en boutique pour acheter des <strong>objets rares</strong> !

              Les <strong>CAMPS</strong> quant à eux sont des lieux que vous pourrez <strong>customisés</strong> et qui vous permettront de récupérer différentes ressources nécessaire au <strong>craft</strong>. Ils peuvent ressembler à un simple campement et devenir une véritable forteresse en fonction des PIECES que vous dépenserez pour construire. Vous pourrez, grâce à votre guilde, <strong>attaquer</strong> les camps des autres joueurs ou bien choisir de défendre le votre. <br/><br/>
            </p>
      </div>

         <h3>...ON PEUT FAIRE TOUT ÇA ?! </h3>

        <div class="textecorps">
    
            <p align='justify' >
             Malheureusement le site n'en est qu'à son état embryonnaire, mais petit à petit des mises à jour permettront de construire ces différentes fonctionnalités. Vous pouvez toutefois commencer à vous <strong><a href="/register">inscrire</a></strong> pour glanner quelques pièces, et discuter sur la page officielle du jeu sur le <strong><a href="#">forum</a></strong>. On attend de votre part de nombreux retour et si vous souhaitez aider au développement du site dans un esprit <strong>communautaire</strong> c'est avec un très grand plaisir !
            </p>
      </div>

  
<br/>
    </div>
           
    

    </div></div></div>