<div class="scroller">
      
      <!-- **********************************************SLIDESHOW GEANT********************************************* -->

              <ul class="cb-slideshow">


                <li><span>Image 01</span><div><h3>Ouverture de NW Universe !</h3>
                <p>Pour les <b style="color:yellow;">10 ans</b> de Next Wave RPG, NWU ouvre ses portes ! </p></div></li>

                <li><span>Image 02</span><div>
                  <h3>Participez à l'Aventure !</h3>
                  <p>Inscrivez-vous et partez à la conquête des Étoiles ! <img src="images/icon_star.png" alt="etoile"> </p></div></li>

                  <li><span>Image 03</span><div>
                  <h3>Rejoignez une Guilde ! </h3>
                  <p><b style="color:#2c94f5;">Blue</b>, <b style="color:#f52c3a;">Red</b>, <b style="color:#5ff85f;">Green</b> : Intéragissez avec les membres ! </p></div></li>

                      <li><span>Image 04</span><div><h3>Ouverture de NW Universe !</h3>
                <p>Pour les <b style="color:yellow;">10 ans</b> de Next Wave RPG, NWU ouvre ses portes ! </p></div></li>

                <li><span>Image 05</span><div>
                  <h3>Participez à l'Aventure !</h3>
                  <p>Inscrivez-vous et partez à la conquête des Étoiles ! <img src="images/icon_star.png" alt="etoile"> </p></div></li>

                  <li><span>Image 06</span><div>
                  <h3>Rejoignez une Guilde ! </h3>
                  <p><b style="color:#2c94f5;">Blue</b>, <b style="color:#f52c3a;">Red</b>, <b style="color:#5ff85f;">Green</b> : Intéragissez avec les membres !</p></div></li>

                  <div id="nuage_bloc">
                        <div id="nuage">
                        <img src="http://image.noelshack.com/fichiers/2016/34/1472292898-nuages.png">
                        </div>
                        </div>

            </ul>
           
      

            <!-- **********************************************SLIDESHOW GEANT********************************************* -->

    </div>