<div id="content"><div id="container"><div class="page-main-container">

<!-- RIBBON -->
<div class="container one">

  <div class="bk l">
    <div class="arrow top"></div> 
    <div class="arrow bottom"></div>
  </div>

  <div class="skew l"></div>

  <div class="main">
    <div><h1> » Newsletter<span class='title-end'></span></h1></div>   
  </div>

  <div class="skew r"></div>
  
  <div class="bk r">
    <div class="arrow top"></div> 
    <div class="arrow bottom"></div>
  </div>

</div>

<!-- RIBBON -->


      
      <!-- **********************************************NEWSLETTER********************************************* -->

       <div class="bloccentralcorps">

            <h3>26/06/2017</h3>

         <div class="textecorps">
            <ul type='DISC'>
                
                <li>► <b>OUVERTURE :</b> Ouverture du Site. De nombreuses fonctionnalités ne sont pas encore présentes, mais arriveront sous peu !

                    </ul>

             </div>
<br/>
    </div>

</div></div></div>

