<div id="content"><div id="container"><div class="page-main-container">

<!-- RIBBON -->
<div class="container one">

  <div class="bk l">
    <div class="arrow top"></div> 
    <div class="arrow bottom"></div>
  </div>

  <div class="skew l"></div>

  <div class="main">
    <div><h1> » Inscription<span class='title-end'></span></h1></div>   
  </div>

  <div class="skew r"></div>
  
  <div class="bk r">
    <div class="arrow top"></div> 
    <div class="arrow bottom"></div>
  </div>

</div>

<!-- RIBBON -->


      
      <!-- **********************************************FORMULAIRE********************************************* -->

                          <form action="/login" method="post">
            
            <TABLE BORDER=0>
            <TR>
             <TD>Nom d'Utilisateur :</TD>
             <TD>
             <input type="text" onblur="javascript: if(this.value == '') { this.value='Pseudo' }" onclick="javascript:this.value = '';" id="pseudo" class="pseudo" value="Pseudo" name="pseudo" />
             </TD>
            </TR>

             <TR>
             <TD><label for="email">Adresse e-mail :</label></TD>
             <TD>
             <INPUT type="text" name="email">
             </TD>
            </TR>

            <TR>
            <TD><label for="password">Mot de Passe : </label></TD>
            <TD>
            <input type="text" onblur="javascript: if(this.value == '') { this.type='text';this.value='Mot de passe' }" onclick="javascript:this.value = '';this.type='password'" id="password" class="password" value="Mot de Passe" name="password" />
            </TD>
            </TR>

            <TR>
             <TD COLSPAN=2>
             <INPUT type="submit" value="Envoyer">
             </TD>
            </TR>
            </TABLE>
            </FORM>
           
    

    </div></div></div>