<div id="content"><div id="container"><div class="page-main-container">

    <h1>Règles de Next Wave Universe<span class='title-end'></span></h1>

    <div>
        <h3>Trois points à retenir !</h3>

        <div class="wrapper">
                <div id="regleimage">
                    <img src="images/regles1.png" alt="Regles I">
                </div>
        </div>

        <span>
    
        <p align='justify' >
          <strong>Next Wave Universe</strong> est un jeu virtuel d’aventure et d'intéractions entre les joueurs. On y incarne le personnage de son choix, de sa
          création, afin de le faire participer à une quête inoubliable. Le but est de le faire évoluer à travers des épisodes pendant lesquels il devra mener les missions qui lui sont confiées, d'obtenir de l'expérience, des pièces et des étoiles. Grâce aux équipements et à la monnaie récupérée, le ou les
          personnages crées pourront aussi être joués sur le forum <strong><a href="nextwave-rpg.com">Next Wave RPG</a></strong> en gardant ces éléments de base.
          Il suffira de l'indiquer lors de l'inscription.
        </p>

        <p align='justify'>Les présentes CONDITIONS GENERALES D'UTILISATION régissent l'ensemble des différentes utilisations de la PLATEFORME accessible à l'adresse <a href='http://www.nextwave-universe.com'>http://www.nextwave-universe.com</a>. Elles sont conclues entre :</p>

        <ul type='DISC'>
          <li><b>LE STAFF DE NEXT WAVE </b> d'une part</li>
        </ul>
        <p align='justify'>Et</p>
        <ul type='DISC'>
          <li><b>L'UTILISATEUR</b> d'autre part.</li>
        </ul>

        <p align='justify'>Ci après collectivement dénommées les « PARTIES »</p>

        <p align='justify'><strong>Important :</strong> Toute utilisation du site <a href='http://www.nextwave-universe.com'>http://www.nextwave-universe.com</a> implique obligatoirement l'acceptation sans réserve, par l'UTILISATEUR, des présentes Conditions Générales d'Utilisation (CGU).</p>
      </span>

        <h3>ARTICLE 1 DEFINITIONS</h3>

        <ul type='DISC'>
            
            <li><b>COMPTE :</b> désigne l'interface dans lequel est regroupé l'ensemble des données fournies par le MEMBRE hébergé sur la PLATEFORME.
            </li>
            <li><b>CONTRIBUTEUR :</b> désigne le MEMBRE qui poste un message sur la chatbox.</li>
            <li><b>MEMBRE :</b> désigne tout UTILISATEUR qui s'inscrit sur la PLATEFORME afin de bénéficier des différents services mis en place par NEXT WAVE.
            </li>
            <li><b>OPTION :</b> désigne l’équipement, le personnage, le véhicule et toutes les possibilités d'optimisation.
            </li>
            <li><b>PLATEFORME : </b> désigne le site internet accessible à l'adresse <a href='http://www.nextwave-universe.com'>http://www.nextwave-universe.com</a> .
                La PLATEFORME regroupe l'ensemble des pages web hébergées et services proposés aux MEMBRES.
            </li>
            <li><b>UTILISATEUR :</b> désigne l'ensemble des MEMBRES et VISITEURS.</li>
            <li><b>VISITEUR : </b> désigne toute personne qui accède et navigue sur la PLATEFORME.</li>
                </ul>

        <h3>ARTICLE 2 CONDITIONS D'INSCRIPTION</h3>

        <span>
      
        <p align='justify'>L’inscription à la PLATEFORME est en principe ouverte à toute personne physique sous réserve des stipulations prévues à l’ARTICLE 11 des présentes CGU. </p>

        <p align='justify'>Il appartient à l’UTILISATEUR d’assurer la confidentialité de son identifiant et de son mot de passe. Toute connexion au COMPTE d’un MEMBRE à partir de l’identifiant et du mot de passe choisis  lors de l’inscription sera présumée avoir été faite par le MEMBRE lui-même.</p>

        <p align='justify'>NEXT WAVE se réserve le droit discrétionnaire de refuser l’inscription d’une personne qui ne serait pas conforme à l’esprit de la PLATEFORME ou contreviendrait à l’image de NEXT WAVE et ce sans qu’il soit possible d’engager sa responsabilité de quelle que manière que ce soit. </p>
        </span>
        <br>

        <h3>ARTICLE 3 MODALITES DE FONCTIONNEMENT</h3>

        <span>
      
        <p align='justify'>L'inscription à la PLATEFORME est gratuite. Une personne physique ne peut ouvrir qu'un seul COMPTE mais peut disposer de différents personnages.</p>
        <p align='justify'>Une fois acquises, les OPTIONS sont valables sans limite de durée sur la PLATEFORME.</p>
        <p align='justify'>Ces OPTIONS sont perdues et non remboursables si le COMPTE du MEMBRE est résilié peu importe la cause et l’origine de cette résiliation.</p>
        <p align='justify'>Les COMPTES sont incessibles.</p>
      </span>
        <br>

        <h3>ARTICLE 4 FORUM</h3>

        <span>
      
        <p align='justify'><i>4.1 Droits et devoirs du lecteur </i></p>
        <p align='justify'>Tout lecteur du chat accessible sur la PLATEFORME doit respecter les droits de propriété
            intellectuelle des auteurs.</p>
        <p align='justify'>Il doit notamment veiller à ne pas reproduire et diffuser les contributions publiées sur ce chat
           ou sur d'autres forums ou d'autres supports sans l'accord de leurs auteurs.</p>
        <p align='justify'>Tout lecteur peut néanmoins reproduire le contenu de ce site et chat à des fins de consultations privées
            ou reproduire et diffuser de courts extraits d'un message, à des fins d'information ou de recherches, en citant
            le nom de ce site et celui de l'auteur du message (nom réel ou pseudonyme).</p>
         <br>
        <p align='justify'><i>4.2 Droits et devoirs du CONTRIBUTEUR</i></p>
        <p align='justify'>Tout CONTRIBUTEUR demeure propriétaire de son message et des droits de propriété intellectuelle
            qui y sont attachés.</p>
        <p align='justify'>Les propos tenus sur ce chat et site sont publiés sous la seule responsabilité du CONTRIBUTEUR. A ce
            titre, le CONTRIBUTEUR s'engage à :</p>

        <ul type='DISC'>
            <li>Se comporter de façon loyale à l'égard des tiers</li>
            <li>Respecter les droits des tiers,</li>
            <li>Respecter la vie privée des tiers et la confidentialité des échanges avec les UTILISATEURS.</li>
            <li>Ne pas poster de textes contraires aux lois, règlements en vigueur ou aux bonnes moeurs.</li>
        </ul>
         <br>

        <p align='justify'><i>4.3 Modération</i></p>
        <p align='justify'>Toutes les contributions sont modérées a posteriori.</p>
        <p align='justify'>Deux systèmes de modération des propos sont mis en place :</p>
        <ul><p align='justify'>Le modérateur est susceptible de supprimer toute contribution qui serait contraire à la loi ou qui serait malveillant.</p></ul>
         <br>
        <ul type='DISC'>
            <li>Un système pour signaler tout contenu manifestement illicite est mis en place afin de signaler à NEXT WAVE l'existence d'un contenu contraire à la loi ou aux bonnes moeurs.
            </li>
        </ul>
         <br>
        <p align='justify'>Les messages violents, injurieux, diffamatoires, racistes, révisionnistes, faisant l'apologie des
            crimes de guerre, pédophiles, appelant au meurtre ou incitant au suicide, incitant à la discrimination ou à la
            haine ou dont le contenu reproduirait sans autorisation une oeuvre protégée par la propriété intellectuelle,
            contraires à de multiples textes en vigueur et punis de sanctions pénales, sont totalement prohibés. Si certains
            messages de ce type étaient malgré tout envoyés, ils seraient promptement supprimés et leurs auteurs pourraient
            faire éventuellement l'objet de poursuites judiciaires.</p>
        <p align='justify'>Tout message publié demeure néanmoins sous la responsabilité de son auteur.</p>
        <p align='justify'>Les lecteurs peuvent demander la vérification de tout message litigieux postés sur ce site en
            contactant un modérateur à l'adresse suivante : <span class='email'>nextwave.universe@gmail.com</span></p>
          </span>
        <br>

        <h3>ARTICLE 5 OBLIGATIONS DES PARTIES</h3>

        <span>
      
        <p align='justify'><i>5.1 Obligations des UTILISATEURS</i></p>
        <p align='justify'>Dans le cadre de l'utilisation de la PLATEFORME, chaque UTILISATEUR s'engage à ne pas porter
            atteinte à l'ordre public et à se conformer aux lois et règlements en vigueur, à respecter les droits des tiers
            et les dispositions des présentes CGU.</p>
        <p align='justify'>L'UTILISATEUR est seul responsable de l'édition de tout contenu que ce soit rédactionnel ou
            graphique.</p>
        <p align='justify'>Chaque UTILISATEUR a pour obligation de :</p>
        <ul>
            <li>Se comporter de façon loyale et doit être respectueux à l'égard de NEXT WAVE et des tiers.</li>
        </ul>
        <ul>
            <li>Etre honnête et sincère dans les informations fournies à NEXT WAVE et, le cas échéant aux internautes et
                autres UTILISATEURS.
            </li>
        </ul>
        <ul>
            <li>Respecter les droits des tiers, et en particulier les droits de NEXT WAVE.</li>
        </ul>
         <ul>
            <li>Pour les avatars et représentations des personnages, utiliser une image libre de droit, ou en ayant obtenu au préalable l'autorisation de son auteur. </li>
        </ul>
        <ul>
            <li>Utiliser la PLATEFORME et son COMPTE conformément à la finalité décrite dans les présentes CGU.</li>
        </ul>
        <ul>
            <li>Ne pas détourner la finalité de la PLATEFORME et du COMPTE pour commettre des crimes, délits ou
                contraventions réprimées par le Code pénal ou toute autre loi.
            </li>
        </ul>
        <ul>
            <li>Respecter la vie privée des tiers et la confidentialité des échanges avec les UTILISATEURS.</li>
        </ul>
        <ul>
            <li>Ne pas tenter de détourner les internautes vers un autre site ou un service concurrent.</li>
        </ul>
        <ul>
            <li>Ne pas chercher à porter atteinte aux systèmes de traitement automatisés de données mis en œuvre pour la
                mise en ligne de la PLATEFORME, au sens des articles 323-1 et suivants du Code pénal.
            </li>
        </ul>
        <ul>
            <li>Ne pas poster de contenus contraires aux lois, règlements en vigueur ou aux bonnes moeurs.</li>
        </ul>
        <br>

        <p align='justify'><i>5.2 Obligations de NEXT WAVE </i></p>
        <p align='justify'>L'obligation générale de NEXT WAVE est une obligation de moyen. Il ne pèse sur NEXT WAVE aucune
            obligation de résultat ou de moyens renforcée d'aucune sorte.</p>
        <p align='justify'>NEXT WAVE s'engage à mettre tous les moyens en oeuvre pour assurer une continuité d'accès et
            d'utilisation de la PLATEFORME, 7 jours sur 7 et 24 heures sur 24.</p>
        <p align='justify'>NEXT WAVE est un hébergeur au sens de l'article 6 I 2) de la loi du 21 juin 2004. A ce titre,
            NEXT WAVE s'engage a retiré promptement tout contenu (oeuvre ou commentaire) manifestement illicite dès qu'il en
            aura connaissance.</p>
        <p align='justify'>La notification des contenus manifestement illicites doit se faire par courrier électronique à
            l'adresse <span class='email'>nextwave.universe@gmail.com</span> ou par courrier en recommandé avec accusé de réception</p>
        <p align='justify'>Dans les deux cas, la notification, pour être valide, doit reprendre tous les éléments prescrits
            à l'article 6 I 5) de la loi du 21 juin 2004 :</p>
        <br>
        <ul type='DISC'>
            <li>la date de la notification ;</li>
            <li>si le notifiant est une personne physique : ses nom, prénoms, profession, domicile, nationalité, date et
                lieu de naissance ; si le requérant est une personne morale : sa forme, sa dénomination, son siège social et
                l'organe qui la représente légalement ;
            </li>
            <li>les nom et domicile du destinataire ou, s'il s'agit d'une personne morale, sa dénomination et son siège
                social ;
            </li>
            <li>la description des faits litigieux et leur localisation précise ;</li>
            <li>les motifs pour lesquels le contenu doit être retiré, comprenant la mention des dispositions légales et des
                justifications de faits ;
            </li>
            <li>la copie de la correspondance adressée à l'auteur ou à l'éditeur des informations ou activités litigieuses
                demandant leur interruption, leur retrait ou leur modification, ou la justification de ce que l'auteur ou
                l'éditeur n'a pu être contacté.
            </li>
        </ul>
      </span>
        <br>

        <h3>ARTICLE 6 RESPONSABILITE</h3>

        <span>
      
        <p align='justify'>NEXT WAVE décline toute responsabilité :</p>
        <ul type='DISC'>
            <li>en cas d'impossibilité d'accéder temporairement à la PLATEFORME pour des opérations de maintenance technique
                ou d'actualisation des informations publiées ;
            </li>
            <li>en cas d'attaques virales ;</li>
            <li>en cas d'utilisation anormale ou d'une exploitation illicite de la PLATEFORME. L'UTILISATEUR est alors seul
                responsable des dommages causés aux tiers et des conséquences des réclamations ou actions qui pourraient en
                découler.
            </li>
        </ul>

        <p align='justify'>Dans tous les cas, il appartient au membre d'apporter la preuve de la faute de NEXT WAVE pour
            mettre en cause sa responsabilité qui sera strictement limitée aux dommages directs.</p>
          </span>
        <br>

        <h3>ARTICLE 7 PROPRIETE INTELLECTUELLE</h3>

        <span>
      
        <p align='justify'><i>7.1 Propriété de NEXT WAVE </i></p>
        <p align='justify'>Les marques, logos, slogans, graphismes, photographies, animations, vidéos, logiciels et textes
            contenus sur la PLATEFORME sont la propriété intellectuelle exclusive de NEXT WAVE et ne peuvent être reproduits,
            utilisés ou représentés sans l'autorisation expresse de NEXT WAVE ou de ses partenaires, sous peine de poursuites
            judiciaires.</p>
        <p align='justify'>Toute représentation totale ou partielle de la PLATEFORME, par quelques procédés que ce soient,
            sans l'autorisation préalable expresse de NEXT WAVE est interdite et constituera une contrefaçon sanctionnée par
            les articles L.335-2 et suivants et les articles L.713-1 et suivants du Code de la Propriété intellectuelle.</p>
        <p align='justify'>La pratique de liens profonds vers une page du site internet <a href='http://www.nextwave-universe.com'>http://www.nextwave-universe.com</a>
            est interdite sans accord exprès et écrit de NEXT WAVE.</p>
        <p align='justify'>NEXT WAVE interdit expressément :</p>
        <p align='justify'>1° L'extraction, par transfert permanent ou temporaire de la totalité ou d'une partie
            qualitativement ou quantitativement substantielle du contenu d'une base de données sur un autre support, par
            tout moyen et sous toute forme que ce soit ;</p>
        <p align='justify'>2° La réutilisation, par la mise à la disposition du public de la totalité ou d'une partie
            qualitativement ou quantitativement substantielle du contenu de la base, quelle qu'en soit la forme.</p>
        <br>
        <p align='justify'><i>7.2 Licence consentie par le MEMBRE</i></p>
        <p align='justify'>Dans le cas où un élément fourni par un MEMBRE serait considéré comme une oeuvre au sens de
            l'article L 112-2 du Code de la propriété intellectuelle, de convention expresse et dans le seul cadre de
            l'utilisation de la PLATEFORME, le MEMBRE consent une licence des droits d'exploitation nécessaires à la mise en
            ligne de ladite oeuvre, notamment les droits de reproduction et de représentation. Cette licence est accordée
            gracieusement à NEXT WAVE en contrepartie des services mis à disposition par cette dernière pour le MEMBRE.</p>
        <p align='justify'>En conséquence, NEXT WAVE pourra reproduire et représenter l'oeuvre du MEMBRE, en tout format sur
            toute autre page de la PLATEFORME.</p>
        <p align='justify'>La présente licence est consentie à titre non exclusif et cessible pour la durée des droits de
            propriété intellectuelle sur l'oeuvre et pour le monde entier.</p>
        <p align='justify'>Le MEMBRE garantit que les oeuvres qu'il publie ne constituent pas une violation d'un droit de
            propriété intellectuelle, ni un quelconque fait de concurrence déloyale ou parasitaire.</p>
        <p align='justify'>A ce titre, le MEMBRE s'engage à assurer la défense de NEXT WAVE et en supporter tous les frais
            contre toute réclamation concernant directement les oeuvres et leur utilisation normale.</p>
        </span>
        <br>

        <h3>ARTICLE 8 RESILIATION</h3>

        <span>
      
        <p align='justify'>Chaque UTILISATEUR peut mettre fin à son inscription à la PLATEFORME en demandant la clôture de
            son compte personnel à NEXT WAVE. Cette demande sera réputée effectuée le jour ouvré suivant sa réception par
            NEXT WAVE.</p>
        <p align='justify'>La résiliation entraîne la suppression immédiate de toutes les données à caractère personnel
            concernant le MEMBRE sauf les données de nature à identifier un éditeur de contenu au sens de la loi du 21 juin
            2004 qui sont conservées durant une année avant d'être détruites.</p>
        <p align='justify'>Sans préjudice des autres dispositions des présentes CGU, NEXT WAVE pourra résilier le compte de
            l'UTILISATEUR sans préavis ni mise en demeure en cas de manquement grave de l'UTILISATEUR à l'une quelconque de
            ses obligations.</p>
        <p align='justify'>Sans préjudice des autres dispositions des présentes, en cas de manquement de l'UTILISATEUR à
            l'une quelconque de ses obligations, NEXT WAVE pourra résilier le compte de l'UTILISATEUR quinze (15) jours après
            l'envoi à l'UTILISATEUR d'un courrier électronique lui notifiant le manquement et lui demandant de se conformer
            aux présentes CGU resté infructueux.</p>
        <p align='justify'>La résiliation interviendra sans préjudice de tous les dommages et intérêts qui pourraient être
            réclamés par NEXT WAVE à l'UTILISATEUR ou à ses ayants droit et représentants légaux en réparation du préjudice
            subi du fait de tels manquements.</p>
        <p align='justify'>L'UTILISATEUR sera informé par courrier électronique de la résiliation ou de la confirmation de
            la résiliation de son compte personnel. Ses données seront détruites à sa demande ou à l'expiration des délais
            légaux courant à compter de la résiliation du compte personnel.</p>
        </span>
        <br>

        <h3>ARTICLE 9 PROTECTION DES DONNEES A CARACTERE PERSONNEL</h3>
        <span>
      
        <p align='justify'>Dans le cadre de son activité sur la PLATEFORME, NEXT WAVE est susceptible de collecter des données
            à caractère personnel. Ces données seront traitées conformément aux finalités prévues lors de la collecte.</p>

        <p align='justify'>Il est rappelé que la personne dont les données à caractère personnel sont traitées bénéficie des
            droits d'accès, de rectification, de suppression et d'opposition au traitement de ses données à caractère
            personnel en vertu des articles 38 et suivants de la loi du 6 janvier 1978.</p>

        <p align='justify'>Ces droits peuvent être exercés, conformément à la loi du 6 janvier 1978, telle que modifiée par
            la loi du 6 août 2004 par simple demande par courrier électronique à l’adresse <span class='email'>nextwave.universe@gmail.com</span> en justifiant de son identité et d’un motif légitime s’il est exigé par la loi.</p>
        </span>
        <br>

        <h3>ARTICLE 10 MODIFICATION</h3>

        <span>
      
    <p align='justify'>NEXT WAVE se réserve la faculté de modifier les présentes CGU à tout moment. Les modifications
        apportées entreront en vigueur le premier jour du mois suivant leur publication.</p>
    <p align='justify'>Toute inscription postérieure à la date de publication des CGU modifiées sera réputée avoir été
        faite en consentant à la nouvelle version des CGU.</p>
    <p align='justify'>Tout MEMBRE inscrit antérieurement à l'entrée en vigueur des modifications des CGU conserve la
        faculté de résilier son COMPTE à tout moment telle que prévue à l'article 8 RESILIATION des présentes.</p>
      </span>
        <br>

        <h3>ARTICLE 11 PROTECTION DES MINEURS</h3>

        <span>
      
        <p align='justify'>Les mineurs doivent obtenir l’autorisation de leur représentant légal afin d’utiliser la
            PLATEFORME.</p>
        <p align='justify'>L’achat facultatif d’OPTIONS est réservé aux seules personnes physiques majeures et capables ou
            aux personnes mineures sous la responsabilité de celles-ci.</p>
        <p align='justify'>Au-delà d’un certain seuil d’achat, NEXT WAVE se réserve le droit de demander à l’acheteur de
            confirmer qu’il est majeur ou qu’il dispose d’une autorisation de son représentant légal.</p>
        <p align='justify'>En l’absence de confirmation, aucune transaction à titre onéreuse ne sera autorisée sur le COMPTE
            litigieux.</p>
      </span>

        <h3>ARTICLE 12 PROTECTION DES PERSONNES EPILEPTIQUE</h3>
        <span>
      
    <p align='justify'>Certains UTILISATEURS sont susceptibles de faire des crises d'épilepsie comportant, le cas
        échéant, des pertes de conscience à la vue, notamment, de certains types de stimulations lumineuses fortes tels
        que : </p>
    <ul type='DISC'>
        <li>des successions rapides d'images ou répétition de figures géométriques simples,</li>
        <li>des éclairs ou explosions.</li>
    </ul>
    <p align='justify'>Ces UTILISATEURS s'exposent à des crises lorsqu'elles utilisent la PLATEFORME, alors même
        qu'elles n'ont pas d'antécédent médical ou n'ont jamais été sujettes elles-mêmes à des crises d'épilepsie. </p>
    <p align='justify'>NEXT WAVE incite les parents à se montrer attentifs à leurs enfants lors de l’utilisation de la
        PLATEFORME.</p>
    <p align='justify'>NEXT WAVE recommande de cesser immédiatement de jouer et de consulter un médecin si l’un des
        symptômes suivants venait à être décelé chez l’UTILISATEUR :</p>
    <ul type='DISC'>
        <li>Vertige,</li>
        <li>trouble de la vision,</li>
        <li>contraction des yeux ou des muscles, trouble de l'orientation,</li>
        <li>mouvement involontaire ou convulsion,</li>
        <li>perte momentanée de conscience.</li>
    </ul>
    <p align='justify'>NEXT WAVE recommande à l’UTILISATEUR de consulter un médecin avant toute utilisation de la
        PLATEFORME si l’UTILISATEUR ou un membre de sa famille a déjà présenté des symptômes évoqués ci-dessus. </p>
         </span>

        <h3>ARTICLE 13 PRECAUTIONS LIEES A L’UTILISATION D’UN JEU VIDEO</h3>
        <span>
      
    <p align='justify'>NEXT WAVE recommande :</p>
    <ul type='DISC'>
        <li>d’éviter de poursuivre le jeu si l’UTILISATEUR présente des signes de fatigue ou manque de sommeil.</li>
        <li>d’utiliser la PLATEFORME dans une pièce bien éclairée en modérant la luminosité de l’écran.</li>
        <li>d’utiliser la PLATEFORME en gardant à bonne distance l’écran et en faisant des pauses régulières.</li>
    </ul>
      </span>

        <h3>ARTICLE 14 FORCE MAJEURE</h3>
        <span>
      
  <p align='justify'>Les PARTIES ne seront pas réputées avoir manqué à leurs obligations si elles sont empêchées
      d'exécuter tout ou partie de celles-ci à la suite d'un cas de force majeure, sous réserve que la PARTIE
      défaillante en informe l’autre PARTIE, par lettre recommandée avec accusé de réception, dans les cinq (5) jours
      calendaires de la survenance de l’événement et justifie du caractère de force majeure au sens de la jurisprudence
      française, y compris notamment en cas d'attaque de pirates informatiques, d'indisponibilité de matériels,
      fournitures, pièces détachées, équipements personnels ou autres ; et l'interruption, la suspension, la réduction
      ou les dérangements de l'électricité ou autres ou toutes interruptions de réseaux de communications
      électroniques.</p>
  <p align='justify'>La PARTIE défaillante fera ses meilleurs efforts pour limiter les effets du cas de force majeure,
      et trouver toute solution adaptée afin de reprendre l’exécution de ses obligations dans les meilleurs délais.</p>
  <p align='justify'>Si l'exécution d’une ou plusieurs des obligations de l’une ou l’autre PARTIE est différée du fait
      de la survenance d'un événement de force majeure, l’exécution des obligations sera suspendue jusqu’à la
      disparition dudit événement. </p>
        </span>

        <h3>ARTICLE 15 DISPOSITIONS GENERALES</h3>

        <span>
      
    <p align='justify'>Aucune indication, aucun document ne pourra engendrer des obligations non comprises dans
        les présentes CGU, s'ils n'ont fait l'objet d'un nouvel accord entre
        les parties.</p>

    <p align='justify'>Le fait que l'une des
        PARTIES n'ait pas exigé l'application d'une clause quelconque
        des présentes CGU, que ce soit de façon permanente ou temporaire,
        ne pourra en aucun cas être considéré comme une renonciation à ladite
        clause.</p>
    <p align='justify'>En cas de difficulté
        d'interprétation entre l'un quelconque des titres figurant en tête
        des clauses, et l'une quelconque de celles-ci, les titres seront déclarés
        inexistants.</p>
    <p align='justify'>Si l'une quelconque
        des stipulations des présentes CGU venait à être nulle au regard
        d'une disposition législative ou réglementaire en vigueur et/ou
        d'une décision de justice ayant autorité de la chose jugée, elle
        sera réputée non écrite mais n'affectera en rien la validité des
        autres clauses qui demeureront pleinement applicables.</p>
    <p align='justify'>Les présentes CGU sont soumises au droit français.</p>
      </span>

        <p><br></p>

        <h3>MENTIONS LEGALES</h3>
        <span>
      
    <p align='justify'>Le présent site internet a été crée et est rattaché à la communauté NEXT WAVE.</p>
    <p align='justify'>Le prestataire assurant l'hébergement, le stockage direct et permanent est de la Société OVH, SAS
        au capital de 500 K€</p>
    <p align='justify'>L'histoire racontée dans ce jeu relève de la fiction, toute ressemblance avec des personnes ou des situations 
        existantes ou ayant existés seraient purement fortuites et ne pourraient conduire à engager la responsabilité de NEXT WAVE.</p>
          </span>
        <br/>
    </div>
<!-- SI PAYANT RAJOUTER : CONDITIONS GENERALES DE SERVICES ET REVOIR CETTE PARTIE-->
</div></div></div>
