<div id="content"><div id="container"><div class="page-main-container">

<!-- RIBBON -->
<div class="container one">

  <div class="bk l">
    <div class="arrow top"></div> 
    <div class="arrow bottom"></div>
  </div>

  <div class="skew l"></div>

  <div class="main">
    <div><h1> » STAFF<span class='title-end'></span></h1></div>   
  </div>

  <div class="skew r"></div>
  
  <div class="bk r">
    <div class="arrow top"></div> 
    <div class="arrow bottom"></div>
  </div>

</div>

<!-- RIBBON -->


      
      <!-- **********************************************BLOC STAFF********************************************* -->

       <div class="bloccentralcorps">

<!-- *****************LINK****************************** -->
         <div class="textecorps">


           <div class="avatar_staff">
          <a href="#" class="hvr-icon-spin"><img src="images/link.png" alt="Next Wave Universe"></a></div>
        

            <h4>KRBHYLIAN / Link</h4>
            <ul type='DISC'>
                
                <li>► <b>FONDATEUR :</b> Fondateur de <a href="http://www.nextwave-rpg.com/">Next Wave</a>, Link assure des tâches de gestion de site et se focalise sur son développement. Il est un peu touche à tout et supervise le site en cas de problèmes. Il essaye de rajouter le plus souvent possible du contenu sur le site et le forum.<br/> Vous pouvez le contacter personnellement via <a href="https://www.facebook.com/krbhylian">Facebook</a> ou par mail <a href="mailto:kevinrolinbenitez@gmail.com">.

                    </ul>
          </div>

<br/>

<!-- *****************SAYURI****************************** -->

  <div class="textecorps">


           <div class="avatar_staff">
          <a href="#" class="hvr-icon-spin"><img src="images/sayuri.png" alt="Next Wave Universe"></a></div>
        

            <h4>KAYLA LEGACY / Sayuri</h4>
            <ul type='DISC'>
                
                <li>► <b>ANIMATRICE :</b> Sayuri s'occupe de recueillir les demandes des membres sur l'adresse mail du forum (nextwave.universe@gmail.com) et de faire remonter toute sorte de bug. De plus, elle sera responsable de l'animation de certains évènements sur le site et d'une partie de la gestion communauté. <br/> Vous pouvez la contacter sur <a href="https://www.facebook.com/profile.php?id=100001855867060">Facebook</a>.

                    </ul>
          </div>

<br/>

<!-- *****************WHO****************************** -->

 <div class="textecorps">


           <div class="avatar_staff">
          <a href="#" class="hvr-icon-spin"><img src="images/who.png" alt="Next Wave Universe"></a></div>
        

            <h4>REJOIGNEZ NOTRE STAFF !</h4>
            <ul type='DISC'>
                
                <li>► <b>DÉVELOPPEUR :</b> Nous avons besoin de quelqu'un qui saura coder le site en tapant plus vite que son ombre, notamment pour la mise en place des différentes activités. Si vous vous sentez d'aider à faire progresser le site et à l'améliorer, et que vous vous y connaissez en javascript, NodeJS, CSS, HTML, envoyez donc un message à Link ou Sayuri !

                    </ul>
          </div>

<br/>

<!-- *****************WHO****************************** -->

 <div class="textecorps">


           <div class="avatar_staff">
          <a href="#" class="hvr-icon-spin"><img src="images/who.png" alt="Next Wave Universe"></a></div>
        

            <h4>REJOIGNEZ NOTRE STAFF !</h4>
            <ul type='DISC'>
                
                <li>► <b>GRAPHISTE :</b> Vous savez dessiner ? Ça tombe bien, nous avons besoins de render et de décors pour illustrer toute l'aventure que vous réservera le site ! Vous serez responsable de la création du design d'armes, de monstres, et de personnages PNJ. Vous pourrez tout aussi bien en proposer que faire les commandes qui vous seront adressés. Autant dire que votre tablette va chauffer !

                    </ul>
          </div>

<br/>

    </div>

</div></div></div>

