<div id="content"><div id="container"><div class="page-main-container">

<!-- RIBBON -->
<div class="container one">

  <div class="bk l">
    <div class="arrow top"></div> 
    <div class="arrow bottom"></div>
  </div>

  <div class="skew l"></div>

  <div class="main">
    <div><h1> » Connexion <span class='title-end'></span></h1></div>   
  </div>

  <div class="skew r"></div>
  
  <div class="bk r">
    <div class="arrow top"></div> 
    <div class="arrow bottom"></div>
  </div>

</div>

<!-- RIBBON -->


      
      <!-- **********************************************login********************************************* -->

                          <form action="/login" method="post">

  <label for="email">Votre adresse mail ?</label>
  <input name="email" type="text"/>
  <br/>

  <label for="password">Votre mot de passe ?</label>
  <input name="password" type="password"/>
  <br/>

  <input type="submit"/>
</form>
           
    

    </div></div></div>