<div id="content"><div id="container"><div class="page-main-container">

<!-- RIBBON -->
<div class="container one">

  <div class="bk l">
    <div class="arrow top"></div> 
    <div class="arrow bottom"></div>
  </div>

  <div class="skew l"></div>

  <div class="main">
    <div><h1> » Inscription <span class='title-end'></span></h1></div>   
  </div>

  <div class="skew r"></div>
  
  <div class="bk r">
    <div class="arrow top"></div> 
    <div class="arrow bottom"></div>
  </div>

</div>

<!-- RIBBON -->


      
      <!-- **********************************************inscription********************************************* -->

<form action="/signup" method="post">

  <label for="name">Choisissez votre pseudo. </label>
  <input name="name" type="text"/>
  <br/>

  <label for="email">Adresse mail ?</label>
  <input name="email" type="text"/>
  <br/>

  <label for="password">Mot de passe ? </label>
  <input name="password" type="password"/>
  <br/>

  <input type="submit"/>
</form>

 </div></div></div>