<div id="content"><div id="container"><div class="page-main-container">

<!-- RIBBON -->
<div class="container one">

  <div class="bk l">
    <div class="arrow top"></div> 
    <div class="arrow bottom"></div>
  </div>

  <div class="skew l"></div>

  <div class="main">
    <div><h1> » Bienvenue <span class='title-end'></span></h1></div>   
  </div>

  <div class="skew r"></div>
  
  <div class="bk r">
    <div class="arrow top"></div> 
    <div class="arrow bottom"></div>
  </div>

</div>

<!-- RIBBON -->


      
      <!-- **********************************************Connexion réussie********************************************* -->

<h1>Vous êtes connecté !</h1>

<a href="/">Retour à l'accueil</a>
<a href="/logout">Se déconnecter</a>

 </div></div></div>
